/* body {
    background: linear-gradient(to right, cadetblue, blue);
} */
.header {
    margin-left: 40px;
    margin-top: 100px;
    font-size: 30px;
    font-family: 'Oxygen', sans-serif;
}

.header button {
    color: white;
    font-size: 18px;
    background-color: rgb(68, 143, 255);
    height: 50px;
    width: 120px;
    border: rgb(68, 143, 255);
    border-radius: 7%;
    margin-top: 30px;
    cursor: pointer;
}

h1:hover {
    cursor: pointer;
}
button:hover {
    transform: scale(1.1);
}
.header img {
    display: flex;
    border-radius: 50%;
    float: right;
    margin-top: -250px;
}

@media screen and (max-width: 600px) {
    .header h1 {
        display: block;
        font-size: 40px;
    }
    
    .header img {
        height: fit-content;
        width: fit-content;
        margin-top: auto;
        justify-content: center;
        padding-top: 40px;
    }
}
/*about page */


/* projects page */
.project-header {
    text-align: center;
    color: rgb(105, 104, 104);
    font-family: 'Oxygen', sans-serif;
    font-size: 25px;
}

.project-header button{
    color: white;
    font-size: 20px;
    background-color: rgb(68, 143, 255);
    height: 50px;
    width: 120px;
    border: rgb(68, 143, 255);
    border-radius: 7%;
    margin-top: 30px;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .project-header h1{
        font-size: 55px;
    }
}


/* about page */
.about-me {
    text-align: center;
    font-family: 'Oxygen', sans-serif;
    font-size: 20px;
}

.about-me img{
    border-radius: 50%;
}

.about-me button{
    color: white;
    font-size: 20px;
    background-color: rgb(68, 143, 255);
    height: 50px;
    width: 120px;
    border: rgb(68, 143, 255);
    border-radius: 7%;
    margin-top: 30px;
    cursor: pointer;
}

/* resume page */
.resume-page {
    text-align: center;
    font-family: 'Oxygen', sans-serif;
    font-size: 20px;
}

.resume-page button{
    color: white;
    font-size: 20px;
    background-color: rgb(68, 143, 255);
    height: 50px;
    width: 120px;
    border: rgb(68, 143, 255);
    border-radius: 7%;
    margin-top: 30px;
    cursor: pointer;
}

/*Projects*/
.Projects {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 250px;
    margin: 0px;
    padding-top: 40px;
    justify-content: center;
}

.project-text{
    font-family: 'Oxygen', sans-serif;
    font-size: 23px;
}
a {
    text-decoration: none;
}

.Projects img{
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-right: 30px;
    align-items: center;
    margin: 0px;
    cursor: pointer;
    transition: all 1s;
}

.Projects img:hover {
    transform: scale(1.3);
}

@media screen and (max-width: 600px) {
    .Projects img{
        height: 200px;
        width: 380px;
        justify-content: center;
    }
}

.contact-me {
    text-align: center;
    margin-top: 55px;
}

.contact-me input{
    font-size: 20px;
    height: 50px;
    width: 500px;
    border-radius: 4px;
    border-color: rgb(68, 143, 255);
}

.contact-me button{
    color: white;
    font-size: 20px;
    background-color: rgb(68, 143, 255);
    height: 55px;
    width: 120px;
    border: rgb(68, 143, 255);
    border-radius: 7%;
    margin-top: 30px;
    cursor: pointer;
}

footer{
    font-family: 'Poppins', sans-serif;
    margin: 48px;
}

footer img {
    transition: all 1s;
    cursor: pointer;
}
footer img:hover{
    transform: scale(1.3);
}

.reach-me {
    text-align: center;
}

.reach-me img{
    transition: all 1s;
}

.reach-me img:hover{
    transform: scale(1.3);
}